.kutu {
  background-color: red;
  text-align: center;
}

.kutu b {
  background-color: blue;
}

.kutu2 {
  margin-top: 30px;
  background-color: red;
}

.kutu2 p {
  background-color: blue;
  text-align: center;
  width: 200px;
  margin: auto;
}
